

ul.social-network {
		list-style: none;
		display: inline;
	}

	ul.social-network li {
		display: inline;
		margin:05px;
	}


/* footer social icons */


.footer {
 
  	background-color:#FAFAFA;
  	text-align: center;
  	height: 150px;
  	padding: 70px;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoInstagram:hover {
	background-color:#BD3518;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;   
}

	
 
	
	/*body,h1 {font-family: "Montserrat", sans-serif}*/
	 
	.gallery-column, .video-column {
		padding: 0px;
	}
	.video{
		width: 100%;
		height: auto;
	}

	.clear {
		clear: both;
	}

	.gallery-column img{
		width: 100%;
	}

	/* Style the header */
	.header {
		font-family: "Montserrat", sans-serif; 
		color: #666666;
		text-align: center;
	}

	.button {
	    background-color: #666666;
	    border: none;
	    color: white;
	    padding: 15px 40px;
	    text-align: center;
	    font-size: 16px;
	}

    .button:active {
	  	background-color: #E0E0E0;
	  	color: #666666;
	}